.form-inline{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.searchInput{
    width: 70%;
    margin-right: 10px;
}

img{
    padding: 15px;
}


.topBar{
    height:21%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#loading{
    background-color: #0000001a;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 79vh;
    z-index: 100;
}

#content{
    position: absolute;
    top: 21%;
    width: 100%;
}

.App{
    width: 100%;
    height: 100vh;
}

.spinner-grow{
    margin: 5px;
}


.card{
    width: 18rem;
    margin:2%;
}

#searchSection{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#coverimage, .cardSpinner{
    height: 410px;
}

.cardSpinner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.visible{
    display:flex
}

.invisible{
    display:none
}
#arrowsContent{
    margin-top:5%;
    margin-bottom:5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

p{
    margin:0px;
}